{% extends 'main/layout.html' %}

{% load static %}

{% block title %}About allthevaccines.org{% endblock %}

{% block content %}
<main>
    <h1>About allthevaccines.org</h1>
    <p>
        This website is an attempt to centralise information on all human vaccines.
    </p>
    <p>
        Data is sourced from websites linked on each vaccine page. We track
        most actively manufactured vaccines from the western world. Much effort
        has been made to verify all info presented but zero guarantees are made.
    </p>
    <p>
        Similar vaccine list data can be found at:
    </p>
    <ul>
        <li>
            <a href="https://en.wikipedia.org/wiki/List_of_vaccine_topics#Human_vaccines">
                Wikipedia: List of human vaccines
            </a>
        </li>
        <li>
            <a href="https://extranet.who.int/pqweb/vaccines/prequalified-vaccines">
                WHO: Prequalified vaccines
            </a>
        </li>
        <li>
            <a href="https://www.fda.gov/vaccines-blood-biologics/vaccines/vaccines-licensed-use-united-states">
                FDA: Vaccines Licensed for Use in the United States
            </a>
        </li>
        <li>
            <a href="https://www.nhs.uk/conditions/vaccinations/">
                NHS: Vaccinations
            </a>
        </li>
        <li>
            <a href="https://www.health.gov.on.ca/en/public/programs/immunization/static/immunization_tool.html">
                Ontario's Routine Immunization Schedule
            </a>
        </li>
    </ul>
    <p>
        This website contains no medical advice. No warranties of any kind,
        express or implied, are made. The operators of this website
        shall not be liable to any claim, damages or other liability arising
        from, out of or in connection with it.
    </p>
    <p>
        This website is open source software. Source code licensed under the
        <a href="https://git.sr.ht/~sirodoht/allthevaccines/blob/master/LICENSE">MIT License</a>
        and available on
        <a href="https://git.sr.ht/~sirodoht/allthevaccines">sr.ht</a>
        and <a href="https://github.com/sirodoht/allthevaccines">GitHub</a>.
    </p>
    <p>
        If you notice any issues with the website data please contact
        <a href="mailto:zf+allthevaccines@sirodoht.com">zf+allthevaccines@sirodoht.com</a>
        or
        <a href="https://github.com/sirodoht/allthevaccines/issues/new">open a GitHub issue</a>.
    </p>

    <section>
        <h2>Get project updates</h2>
        <form method="post" action="{% url 'subscribe' %}">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            {% csrf_token %}
            <input type="submit" value="save">
        </form>
    </section>
</main>
{% endblock %}
