{% extends 'main/layout.html' %}

{% load static %}

{% block content %}
<h1><span class="muted">Disease:</span> {{ disease.name }}</h1>
<table>
    <thead>
        <th scope="col">Trade Name</th>
        <th scope="col">Manufacturer</th>
    </thead>
    <tbody>
        {% for vaccine in vaccine_list %}
        <tr>
            <td>
                <a href="{% url 'vaccine_detail' vaccine.slug %}">{{ vaccine.trade_name }}</a>
            </td>
            <td>{{ vaccine.manufacturer }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
