{% extends 'main/layout.html' %}

{% load static %}

{% block title %}Disease: List — allthevaccines.org{% endblock %}

{% block content %}
<h1><span class="muted">Disease: List</span></h1>

{% if request.user.is_authenticated and request.user.is_superuser %}
<p>
    <a href="{% url 'admin:main_disease_add' %}">Add new disease</a>
</p>
{% endif %}

<table>
    <thead>
        <th scope="col">Name</th>
        <th scope="col">Vaccine Count</th>
        <th scope="col">Wikipedia</th>
        {% if request.user.is_authenticated and request.user.is_superuser %}
        <th scope="col">Admin</th>
        {% endif %}
    </thead>
    <tbody>
        {% for disease in disease_list %}
        <tr>
            <td>
                <a href="{% url 'disease_detail' disease.slug %}">
                    {{ disease.name }}
                </a>
            </td>
            <td>{{ disease.vaccines.count }}</td>
            <td>
                <a href="{{ disease.wikipedia_url }}">
                    {{ disease.wikipedia_url_fancy }}
                </a>
            </td>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <td><a href="{% url 'admin:main_disease_change' disease.id %}">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
