{% extends 'main/layout.html' %}

{% load static sorting %}

{% block title %}Vaccine: List — allthevaccines.org{% endblock %}

{% block content %}
<h1><span class="muted">Vaccine: List</span></h1>

{% if request.user.is_authenticated and request.user.is_superuser %}
<p>
    <a href="{% url 'admin:main_vaccine_add' %}">Add new vaccine</a>
</p>
{% endif %}

<table>
    <thead>
        <tr>
            {% sortable_header "Trade Name" "trade_name" %}
            {% sortable_header "Manufacturer" "manufacturer" %}
            {% sortable_header "First Authorized" "first_authorized" %}
            {% sortable_header "Disease" "disease_count" %}
            {% if request.user.is_authenticated and request.user.is_superuser %}
            {% sortable_header "Admin" "admin" %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for vaccine in vaccine_list %}
        <tr>
            <td>
                <a href="{% url 'vaccine_detail' vaccine.slug %}">{{ vaccine.trade_name }}</a>
            </td>
            <td>{{ vaccine.manufacturer }}</td>
            <td>
                {% if vaccine.first_authorized_year %}
                {{ vaccine.first_authorized_year }}{% if vaccine.first_authorized_region %} ({{ vaccine.first_authorized_region }}){% endif %}
                {% else %}
                <em>Unknown</em>
                {% endif %}
            </td>
            <td>
                ({{ vaccine.disease_count }})
                {% for disease in vaccine.disease_set.all %}
                <a href="{% url 'disease_detail' disease.slug %}">
                    {{ disease.name }}{% if not forloop.last %},{% endif %}
                </a>
                {% endfor %}
            </td>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <td><a href="{% url 'admin:main_vaccine_change' vaccine.id %}">Edit</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}
